body {
   background-color: seagreen;
   
   background-size:cover ;
   background-position: center;
       }
 button{
    width: 25%;
    background-color: blue;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
       }
