body {
    background-image: url(image1.png);
    background-repeat: no-repeat;
    /* background-size: cover; */
}

.container {
    display: flex;
    justify-content: center;
    height: 700px;
    text-align: center;
}

.login_form {
    width: 90%;
    max-width: 500px;
    border: 1px solid rgb(19, 201, 80);
    border-radius: 8px;
    background-color: rgb(226, 222, 214);
    padding: 20px;
}

input[type="text"],
input[type="password"],
input[type="tel"] {
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    color: white;
    background-color: coral;
}

button {
    background-color: coral;
    width: 200px;
    border-radius: 100px;
    color: rgb(14, 41, 196);
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgb(207, 55, 28);
}

label {
    margin-bottom: 10px;
    color: blue;
    display: block; /* new content starts in next line */
}

.navigation {
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    background-color: yellowgreen;
    padding: 10px;
    padding-bottom: 5px;
    width: 400px;
    align-items: center;
}

section {
    display: none;
    margin: 10px;
    padding: 10px;
    height: 100%;
    width: 100%;
    background-color: yellow;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section.active {
    display: block;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: 100%;
    }
}
